{% extends "genshinwishoracle/bootstrap_base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">
        Please log in if you'd like to access more features.
    </p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
        <a class="btn btn-primary btn-lg" href="{% url 'analyze:index' %}" role="button">Analyze</a>
    </p>
</div>

{% endblock content %}