{% extends "genshinwishoracle/bootstrap_base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'analyze/style.css' %}">
{% block content %}
<title>{% block title %} Home {% endblock title %} </title>
<div class="container">
    {% for link in links %}
    <a href="{{ link.url }}">
        <div class="box">
            <object data="{% static link.imagename %}" type="image/svg+xml"></object>
            <h3>{{ link.presentationname }}</h3>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock content %}