{% extends "genshinwishoracle/bootstrap_base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'analyze/style.css' %}">
{% block content %}
<title>{% block title %} Home {% endblock title %} </title>
<div class="indexcontainer">
    {% for link in links %}
    <a href="{{ link.url }}">
        <div class="indexbox">
            <img src="{% static link.imagename %}">
            <h3>{{ link.presentationname }}</h3>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock content %}