{% extends "genshinwishoracle/bootstrap_base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'analyze/style.css' %}">
<link rel="stylesheet" href="{% static 'base/style.css' %}">
{% block content %}
<title>{% block title %} Analyze Statistics {% endblock %} </title>
<div>
    <a href="{% url 'analyze:index' %}"><button name='back' type="submit" class="back-button"><i class="back-arrow"></i>
            Back</button></a>
</div>
<h1 class="display-3">Statistics</h1>
<div>
    <table>
        <tr>
            <td>
                <h2 class="display-6"> Settings </h2>
            </td>
        </tr>
        <tr>
            <td>
                {% if user.is_authenticated %}
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div>
                        <button class="import-button" name="import_user_data" value="import_data">
                            Import data</button>
                    </div>
                </form>
                {% endif %}
            </td>
            <td>
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div>
                        <button class="reset-button" name="reset_values" value="reset_values"> Reset </button>
                    </div>
                </form>
            </td>
            <td>
                {% if banner_type == "character" %}
                <form method="post">
                    {% csrf_token %}
                    <button class="switch-button" name="select_weapon_banner" value="weapon_banner">Switch to Weapon
                        Banner</button>
                </form>
                {% endif %}
                {% if banner_type == "weapon" %}
                <form method="post">
                    {% csrf_token %}
                    <button class="switch-button" name="select_character_banner" value="character_banner">Switch to
                        Character
                        Banner</button>
                </form>
                {% endif %}
            </td>
            <td>
                {% if statistics_type == "calcprobability" %}
                <form method="post">
                    {% csrf_token %}
                    <button class="switch-button" name="select_calcnumwishes" value="calcnumwishes">Switch to Calculate
                        Number of
                        Wishes</button>
                </form>
                {% endif %}
                {% if statistics_type == "calcnumwishes" %}
                <form method="post">
                    {% csrf_token %}
                    <button class="switch-button" name="select_calcprobability" value="calcprobability">Switch to
                        Calculate
                        Probability</button>
                </form>
                {% endif %}
            </td>
        </tr>
    </table>

</div>
<div>
    <h2 class="display-6"> Inputs </h2>
    <form method="post" novalidate>
        {% csrf_token %}

        {% for field in first_form %}
        {% if field.errors %}
        {% for error in field.errors %}
        <div class="form-alert-class">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %}

        {% for field in first_form %}
        {{ field.label_tag }}
        {{ field }}
        {% endfor %}
        <button name='submit' type="submit">Save</button>
    </form>
</div>

<div>
    <h2 class="display-6"> Outputs </h2>
    {% for field in second_form_names %}
    <div> {{field}}</div>
    {% endfor %}
</div>

{% endblock %}