{% load static %}
<link rel="stylesheet" href="{% static 'analyze/style.css' %}">
{% block content %}
<h1>Statistics</h1>
<form method="post">
    {% csrf_token %}
    <div>
        <button class="static-button" role="button">Character Banner</button>
        <button class="hover-button" name="select_weapon_banner" value="weapon_banner">Weapon
            Banner</button>
    </div>
</form>
{% if user.is_authenticated %}
<form method="post" novalidate>
    {% csrf_token %}
    <div>
        <button class="import-button" name="import_user_data_character" value="import_data">
            Import data</button>
    </div>
</form>
{% endif %}
<form method="post" novalidate>
    {% csrf_token %}
    <table>
        <input type="hidden" name="banner_type" value="character">
        {{ form.as_table }}
    </table>
    <button name='character_banner_submit' type="submit">Save</button>
    <a href="{% url 'analyze:index' %}">Nevermind</a>
</form>
{% endblock %}