{% load static %}
<link rel="stylesheet" href="{% static 'analyze/style.css' %}">
{% block content %}
<h1>Statistics</h1>
<form method="post">
    {% csrf_token %}
    <div>
        <button class="hover-button" name="select_character_banner" role="button" value="character_banner">Character
            Banner</button>
        <button class="static-button">Weapon Banner</button>
    </div>
</form>
<form method="post" novalidate>
    {% csrf_token %}
    <table>
        <input type="hidden" name="banner_type" value="weapon">
        {{ form.as_table }}
    </table>
    <button name='weapon_banner_submit' type="submit">Save</button>
    <a href="{% url 'analyze:index' %}">Nevermind</a>
</form>
{% endblock %}