{% extends "genshinwishoracle/bootstrap_base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'analyze/style.css' %}">
{% block content %}
<title>{% block title %} Analyze Options {% endblock title %} </title>
<div>
    <a href="{% url 'main-home' %}"><button name='back' type="submit" class="back-button"><i class="back-arrow"></i>
            Back</button></a>
</div>
<h1 class="display-4"> Analyze Index </h1>
<ul>
    <li><a href="{% url 'analyze:statistics' 'character' 'calcprobability' %}"> TESTING Banner Statistics
            Analysis</a>
    </li>
    <li><a href="{% url 'analyze:character_banner' %}">Character Banners</a></li>
    <li><a href="{% url 'analyze:weapon_banner' %}">Weapon Banners</a></li>
    <li><a href="{% url 'analyze:project_primos' %}"> Project Future Primogems</a></li>
    <li><a href="{% url 'analyze:wish_simulator' %}"> Wish Simulator </a></li>
</ul>
{% endblock content %}