{% extends "genshinwishoracle/bootstrap_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'analyze/style.css' %}">
<title>{% block title %} Probability to Wishes {% endblock %} </title>
<div>
    <a href="{% url 'analyze:index' %}"><button name="back" class="back-button back-arrow">Back</button></a>
</div>
<h1 class="display-4"> Probability to Wishes </h1>

<body>
    {% csrf_token %}
    <h1 class="work-in-progress"> WORK IN PROGESS </h1>
</body>

{% endblock %}