{% extends "genshinwishoracle/bootstrap_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'analyze/style.css' %}">
<title>{% block title %} Primogem Projection {% endblock %} </title>
<div>
    <a href="{% url 'analyze:index' %}"><button name="back" class="back-button back-arrow">Back</button></a>
</div>
<h1 class="display-4"> Primogem Projection </h1>
{% if user.is_authenticated %}
<form method="post" novalidate>
    {% csrf_token %}
    <div>
        <button class="import-button" name="import_user_data" value="import_data">
            Import data</button>
    </div>
</form>
{% endif %}
<form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
    <a href="{% url 'analyze:index' %}">Nevermind</a>
</form>
{% endblock %}