{% extends "genshinwishoracle/bootstrap_base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'analyze/style.css' %}">
{% block content %}
<title>{% block title %} Weapon Banners {% endblock %} </title>
<div>
    <a href="{% url 'analyze:index' %}"><button name="back" class="back-button back-arrow">Back</button></a>
</div>
<h1 class="display-4"> Weapon Banners </h1>
<a href="{% url 'analyze:weapon_banner_create' %}"> Create new banner </a>
<!-- TODO style this and the other banner -->
<ul>
    {% for banner in weapon_banners %}
    <li> <strong> {{banner.name}}</strong> :
        <ul>
            {% for rateup in banner.rateups.all %}
            <li>{{rateup}}, </li>
            {% endfor %}
        </ul>
        {{banner.enddate}}
    </li>
    {% endfor %}
</ul>
{% endblock %}