{% extends "genshinwishoracle/bootstrap_base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'analyze/style.css' %}">
{% block content %}
<title>{% block title %} Weapon Banner Create {% endblock %} </title>

<div>
    <a href="{% url 'analyze:weapon_banner'  %}"><button name='back' type="submit" class="back-button"><i
                class="back-arrow"></i>
            Back</button></a>
</div>
<h1 class="display-4"> Weapon Banner Create </h1>
<form method="post" novalidate>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
    <a href="{% url 'analyze:weapon_banner' %}">Nevermind</a>
</form>
{% endblock %}