{% load static %}
<link rel="stylesheet" href="{% static 'analyze/style.css' %}">
<a href="{% url 'analyze:index' %}"> BACK </a>
<h1>{{ "Weapon Banner" }}</h1>
<a href="{% url 'analyze:weaponbannercreate' %}"> Create new banner </a>
<!-- TODO style this and the other banner -->
<ul>
    {% for banner in weapon_banners %}
    <li> <strong> {{banner.name}}</strong> :
        <ul>
            {% for rateup in banner.rateups.all %}
            <li>{{rateup}}, </li>
            {% endfor %}
        </ul>
        {{banner.enddate}}
    </li>
    {% endfor %}
</ul>