{% extends "genshinwishoracle/bootstrap_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'analyze/style.css' %}">
<title>{% block title %} Wish Simulator {% endblock title %} </title>
<div>
    <a href="{% url 'analyze:index' %}"><button name='back' type="submit" class="back-button"><i class="back-arrow"></i>
            Back</button></a>
</div>
<h1 class="display-4"> Wish Simulator </h1>

<body>
    {% csrf_token %}
    <h1 class="work-in-progress"> WORK IN PROGESS </h1>
</body>

{% endblock content %}