{% extends "genshinwishoracle/bootstrap_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'base/style.css' %}">
<title>{% block title %} Delete a {{banner_type}} Banner{% endblock title %} </title>

<div>
    <a href="{{success_url}}"><button name='back' type="submit" class="back-button"><i class="back-arrow"></i>
            Back</button></a>
</div>
<form method="post">{% csrf_token %}
    <div class>
        <p>Are you sure you want to delete the following banner?</p>
    </div>
    <div>
        <table class="banner-list-table">
            <tr>
                {% for label in labels %}
                <td class="banner-list-label-td">
                    {{label}}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <td class="banner-list-td">
                    <strong>{{banner.name}} </strong>
                </td>
                <td class="banner-list-td">
                    <strong>{{banner.enddate}}</strong>
                </td>
                {% for rateup in banner.rateups.all %}
                <td class="banner-list-td"> <strong> {{rateup}}</strong></td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <input type="submit" value="Confirm">
    <button><a href="{{success_url}}">Cancel</a> </button>
</form>
{% endblock content %}