{% extends "genshinwishoracle/bootstrap_base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'genshinwishoracle/style.css' %}">
{% block content %}
<title>{% block title %} Primogem Projection {% endblock title %} </title>
<div>
    <a href="{% url 'main-home' %}"><button name='back' type="submit" class="back-button"><i class="back-arrow"></i>
            Back</button></a>
</div>
<h1 class="display-4"> Primogem Projection </h1>
{% if user.is_authenticated %}
<form method="post" novalidate>
    {% csrf_token %}
    <div>
        <button class="import-button" name="import_user_data" value="import_data">
            Import data</button>
    </div>
</form>
<form method="post" novalidate>
    {% csrf_token %}
    <div>
        <button class="reset-button" name="reset_values" value="reset_values"> Reset </button>
    </div>
</form>
{% endif %}

<form method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
    {% if field.errors %}
    {% for error in field.errors %}
    <div class="form-alert-class">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
    <table>
        {% for field in form %}
        <tr>
            <td>
                {{ field.label_tag }}
            </td>
            <td>
                {{ field }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit">Save</button>
    <a href="{% url 'main-home' %}">Nevermind</a>
</form>
{% endblock content %}