{% extends "genshinwishoracle/bootstrap_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'genshinwishoracle/style.css' %}">
<title>{% block title %} Wish Simulator {% endblock title %} </title>
<div>
    <a href="{% url 'main-home' %}"><button name='back' type="submit" class="back-button"><i class="back-arrow"></i>
            Back</button></a>
</div>
<h1 class="display-4"> Wish Simulator </h1>

<body>
    <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
        {% if field.errors %}
        {% for error in field.errors %}
        <div class="form-alert-class">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %}

        {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {% endfor %}
        <button name='submit' type="submit">Save</button>
    </form>
</body>

{% endblock content %}